@using Ecommerce.Models
@model Ecommerce.Models.Productos
@{
    ViewBag.Title = "EditS";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Producto públicado con precio de venta satisfactoriamente</h2>
<form>
    <p>
        <button class="btn btn-light" formaction="/PreciosAutorizados">Regresar a la lista de productos</button>
    </p>
</form>
