@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCp6KVjbNBYlgoKejZftVyPN4Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCu6KVjbNBYlgoKej70l0w.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCp6KVjbNBYlgoKejYHtFyPN4Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCp6KVjbNBYlgoKejZPslyPN4Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoC1CzjsGyI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw7z.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCjC3jsGyI.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjsGyI.ttf) format('truetype');
}
body {
  padding: 0;
  margin: 0 ;
  font-family: 'Ubuntu', sans-serif;
}
.card {
  border: 1px solid #c67000;
}
a {
  text-decoration: none;
}
.row {
  max-width: 100%;
}
.img-logo {
  width: 4rem;
  height: 100%;
}
.card-img-top {
  width: 100%;
  max-height: 300px;
}
.fas {
  color: #880e4f;
}
.bgimg {
  background-image: url(img/pandaderia.jpg);
  height: 100vh;
  position: relative;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-link {
  color: black !important;
}
.nav-link:hover {
  color: white;
  text-align: center;
  background: #c67000;
  border: 2px solid black;
}
.bg-primary {
  background-color: #f0e1ab !important;
}
.bg-secondary {
  background-color: #f5cd83 !important;
}
.bg-semitanparente {
  background-color: rgba(240, 225, 172, 0.7);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
img {
  max-width: 100%;
}
.bg-nosotros {
  background-color: rgba(255, 159, 11, 0.65);
}
.bg-tanparente {
  background-color: rgba(240, 225, 172, 0);
}
hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.img-contet {
  position: center;
}
.footer {
  margin: 20px 30px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(255, 255, 255, 0.5);
}
.link-catalog.active {
  color: white;
  background-color: orangered;
}
.link-catalog.active:hover {
  color: black;
  background-color: #c67000;
}
.color-white {
  color: white !important;
}
.color-blue {
  color: blue !important;
}
.color-primary {
  color: #f0e1ab !important;
}
.c-black {
  color: black!important;
}
.border-black {
  border: 1px solid #000000 !important;
}
.btn-primary {
  background: #ff9f0e;
  color: black;
  border: 1px solid #c67000;
  height: auto;
}
.btn-primary:hover {
  background: #c67000;
  color: black;
  border: 1px solid #c67000;
}
.catalog-categories {
  -webkit-box-shadow: 0px 0px 48px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 48px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 48px -15px rgba(0, 0, 0, 0.75);
  background-color: #ff9f0e;
}
.input-table {
  width: 10vw;
}
.link-catalog {
  color: white;
}
.link-catalog:hover {
  color: black;
  text-decoration: solid #c67000;
}
.agregar-carrito {
  text-align: center;
  color: #c67000;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 3px 8px;
  background-color: white;
}