@{
    ViewBag.Title = "Nosotros";
}
<div id="colorlib-about">
    <div class="container">
        <div class="row">
            <div class="about-flex">
                <div class="col-three-forth">
                    <h2>Nosotros</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Misión</h3>
                            <p>
                                Poner al alcance de los consumidores un producto selecto, natural y sin conservadores, ofreciendo la más alta calidad del mercado.
                            </p>

                            <h3>Visión</h3>
                            <p>
                                Convertirnos en una empresa reconocida, al mismo tiempo la mejor alternativa para nuestros clientes y, así, en la solución 
                            </p>
                            <p>adecuada para su satisfacción. Trabajamos pensando en ellos, en darles más calidad y mejor servicio.</p>

                            <div class="row row-pb-sm">
                                <div class="col-md-6">
                                    <img src="~/Content/img/medicina.jpg" class="img-responsive" alt="imagen">
                                </div>
                                <div class="col-md-6">

                                    <h3>Valores</h3>

                                    <p>
                                        Calidad.
                                    </p>
                                    <p>
                                        Responsabilidad
                                    </p>
                                    <p>
                                        Soliradidad
                                    </p>
                                    <p>
                                        Transparencia y honestidad.

                                    </p>
                                    <p>
                                        Constancia
                                    </p>
                                </div>
                            </div>

                            <h3>¿Que hacemos?</h3>
                            <p>
                                Venta de medicamentos de calidad
                                .
                            </p>
                            <h3>Ventanjas</h3>

                            <p>
                                Empresa 100% responsable
                            </p>

                            <p>
                                Amplia gama de medicamentos de calidad
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
