
@{
    ViewBag.Title = "InfoCompra";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Detalles de compra</h2>
<form>
    <p>
        <button class="btn btn-light" formaction="Index">Regresar a la lista de Solicitudes</button>
    </p>
</form>
<table class="table">
    <tr>
        <th>
            Fecha de compra
        </th>
        <th>
            Producto
        </th>
        <th>
            Cantidad
        </th>
        <th>
            Total de compra
        </th>
        <th>
            Tipo de pago
        </th>
    </tr>
  
    <tr>
        <td>
            19/06/2020
        </td>
        <td>
            Paracetamol
        </td>
        <td>
            1 caja
        </td>
        <td>
            $150.00
        </td>
        <td>
            Tarjeta de debito
        </td>
    </tr>
    
</table>
