
@{
    ViewBag.Title = "InfoSolicitud";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Detalles de la solicitud</h2>
<form>
    <p>
        <button class="btn btn-light" formaction="Index">Regresar a la lista de Solicitudes</button>
    </p>
</form>
<table class="table">
    <tr>
        <th>
            Fecha de Realización
        </th>
        <th>
            Motivos
        </th>
        <th>
            Descripción
        </th>
    </tr>
  
    <tr>
        <td>
            22/06/2020
        </td>
        <td>
            No era lo que esperaba
        </td>
        <td>
            Muy mal
        </td>
    </tr>
    
</table>
