
@{
    ViewBag.Title = "EditDesc";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Nuevo precio actualizado</h2>
<br />

<div>
    @Html.ActionLink("Regresar a la lista de precios de nuevos productos", "Index")
</div>

